<p id="notice"><%= notice %></p>

<p>
  <strong>Concert:</strong>
  <%= @ticket.concert_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Issued:</strong>
  <%= @ticket.issued %>
</p>

<p>
  <strong>Expired:</strong>
  <%= @ticket.expired %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
