<h2 align="center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form', class: 'form-horizontal' }) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
	<div class="col-lg-6 col-lg-offset-3">
		<%= f.label :email, class: 'sr-only' %><br />
		<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-6 col-lg-offset-3">
		<%= f.submit "Send me reset password instructions", class: 'btn btn-warning btn-block' %>
	</div>
</div>
<% end %>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="row">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
